.header
  .header__image--mercari
    = link_to image_tag('/logo.svg'), root_path
  %ol.progress-bar
    %li.is-active
      %span 会員情報
    %li.is-active
      %span 電話番号認証
    %li.is-active.is-active__last
      %span  お届け先住所入力
    %li
      %span 支払い方法
    %li
      %span 完了

.step3-main
  .register-text 住所入力
  .register-address
  = form_for @user, url: signup_index_path, method: :post, controler: "signup", action: "create", html: {class: 'register-card'} do |f|
    = f.fields_for :address do |a|
      .register-address__name
        %label.register-address__name--label お名前(全角)
        %span.register-required 必須
        = a.text_field :address_last_name, placeholder: '例)山田', class: "register-address__name--textarea"
        = render partial: 'layouts/address_error_messages', locals: {user: @user, column: "address_last_name"}
        = a.text_field :address_first_name, placeholder: '例)彩', class: "register-address__name--textarea"
        = render partial: 'layouts/address_error_messages', locals: {user: @user, column: "address_first_name"}
      .register-address__namekana
        %label.register-address__namekana--label  お名前かな(全角)
        %span.register-required 必須
        = a.text_field :address_last_name_kana, placeholder: '例)ヤマダ', class: "register-address__namekana--textarea"
        = render partial: 'layouts/address_error_messages', locals: {user: @user, column: "address_last_name_kana"}
        = a.text_field :address_first_name_kana, placeholder: '例)アヤ', class: "register-address__namekana--textarea"
        = render partial: 'layouts/address_error_messages', locals: {user: @user, column: "address_first_name_kana"}
      .register-address__postalcode
        %label.register-address__postalcode--label 郵便番号
        %span.register-required 必須
        = a.text_field :postal_code, placeholder: '123-4567',cols:"20", class: "register-address__postalcode--textarea"
        = render partial: 'layouts/address_error_messages', locals: {user: @user, column: "postal_code"}
      .register-address__prefecture
        %label.register-address__prefecture--label 都道府県
        %span.register-required 必須
        = a.collection_select :prefecture_id, Prefecture.all, :id, :name,{}, {class:"register-address__prefecture--select"}
        = render partial: 'layouts/address_error_messages', locals: {user: @user, column: "prefecture_id"}
      .register-address__city
        %label.register-address__city--label 市町村
        %span.register-required 必須
        = a.text_field :city, placeholder: '例)横浜市緑区',cols:"20", class: "register-address__city--textarea"
        = render partial: 'layouts/address_error_messages', locals: {user: @user, column: "city"}
      .register-address__block
        %label.register-address__block--label 番地
        %span.register-required 必須
        = a.text_field :block, placeholder: '例)青山1-1-1',cols:"20", class: "register-address__block--textarea"
        = render partial: 'layouts/address_error_messages', locals: {user: @user, column: "block"}
      .register-address__building
        %label.register-address__building--label 建物名
        %span.register-any 任意
        = a.text_field :building, placeholder: '例)柳ビル103',cols:"20", class: "register-address__building--textarea"
      .register-address__phone-number
        %label.register-address__phone-number--label 電話
        %span.register-any 任意
        = a.text_field :address_phone_number, placeholder: '09012345678',cols:"20", class: "register-address__phone-number--textarea"
      = f.submit '次へ進む', class: 'register-profile__nextpage'
= render "login-footer"
