.header
  .header__image--mercari
    = link_to image_tag('/logo.svg'), root_path
  %ol.progress-bar
    %li.is-active.is-active__last
      %span 会員情報
    %li
      %span 電話番号認証
    %li
      %span  お届け先住所入力
    %li
      %span 支払い方法
    %li
      %span 完了
.step1-main
  .register-text 会員情報入力
  = form_for @user, url: phonenumber_signup_index_path, method: :get, html: {class: 'register-profile'} do |f|
    .register-profile__nickname
      %label.register-profile__nickname--label ニックネーム
      %span.register-required 必須
      = f.text_field :nickname, placeholder: '例) メルカリ太郎', class: "register-profile__nickname--textarea"
    .register-profile__email
      %label.register-profile__email--label メールアドレス
      %span.register-required 必須
      = f.text_field :email, placeholder: 'PC・携帯どちらでも可', class: "register-profile__email--textarea"
    .register-profile__password
      %label.register-profile__password--label パスワード
      %span.register-required 必須
      = f.password_field :password, placeholder: '7文字以上', class: "register-profile__password--textarea"
    .register-profile__password
      %label.register-profile__password--label パスワード(確認)
      %span.register-required 必須
      = f.password_field :password_confirmation, placeholder: '7文字以上', class: "register-profile__password--textarea"
    .register-profile__identification
      %p.register-profile__identification--bold 本人確認
      %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません
    .register-profile__name
      %label.register-profile__name--label お名前(全角)
      %span.register-required 必須
    .register-profile__nameform
      = f.text_field :last_name, placeholder: '例)山田', class: "register-profile__nameform--textarea"
      = f.text_field :first_name, placeholder: '例)彩', class: "register-profile__nameform--textarea"
    .register-profile__namekana
      %label.register-profile__namekana--label  お名前かな(全角)
      %span.register-required 必須
    .register-profile__kana-nameform
      = f.text_field :last_name_kana, placeholder: '例)ヤマダ', class: "register-profile__kana-nameform--textarea"
      = f.text_field :first_name_kana, placeholder: '例)アヤ', class: "register-profile__kana-nameform--textarea"
    .register-profile__birthday
      %label.register-profile__birthday--label 生年月日
      %span.register-required 必須
      %br
      != sprintf(f.date_select(:birthday, autofocus: true, use_month_numbers: true, start_year: 2019,end_year:1900 ,prompt: "--", date_separator: '%s'), "年", "月") + "日"
      %p.register-profile__birthday--caution ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
    .register-profile__captcha
      .register-profile__captcha--box
    .register-profile__nextpage--caution 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
    = button_to phonenumber_signup_index_path, class: "register-profile__nextpage", method: :post do
      次へ進む
    .register-profile__policy
      = link_to phonenumber_signup_index_path, class: "register-profile__policy--link", method: :get do
        本人情報の登録について
        %i.fa.fa-arrow-right
= render "login-footer"
