- if user_signed_in?
  - if item.like_user(current_user.id)
    = button_to item_like_path(item.id), method: :delete, id: "like-button", remote: true do
      = image_tag "icon_red_heart.png"
      %span
        いいね！
        = item.likes_count
  - else
    = button_to item_likes_path(item.id), method: :post, id: "like-button", remote: true do
      = image_tag "icon_heart.png"
      %span
        いいね！
        = item.likes_count
- else
  = image_tag "icon_heart.png"
  %span
    = item.likes_count

