.main-top__advert
  .main-top__advert__box
    .main-top__advert__box__downlord
      %h2 スマホでかんたんフリマアプリ
      %h3 今すぐ無料ダウンロード！
      .main-top__advert__box__downlord__contents
        = image_tag ("mercari_icon.png"), height: '68', width: '68'
        = link_to "https://www.apple.com/jp/ios/app-store/", class: ".main-top__advert__box__downlord__contents__AppStore" do
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "app_img"
        = link_to "https://www.apple.com/jp/ios/app-store/", class: ".main-top__advert__box__downlord__contents__AppStore" do
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "app_img"
    = image_tag ("https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"), height: '260', width: '300', class: "iphone_img"
.main-top__footer
  %nav.main-top__footer__guide
    .main-top__footer__guide__cell
      %h2 メルカリについて
      %ul.about
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng 会社概要(運営会社)
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng 採用情報
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng プレスリリース
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng 公式ブログ
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng メルカリロゴ利用ガイドライン
        = link_to "https://twitter.com/mercari_jp", class: "icon" do
          = fa_icon "twitter", class: "twitter"
        = link_to "https://www.facebook.com/mercarijp", class: "icon" do
          = fa_icon "facebook-square", class: "twitter"
    .main-top__footer__guide__cell
      %h2 ヘルプ＆ガイド
      %ul.about
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng メルカリガイド
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng らくらくメルカリ便
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng ゆうゆうメルカリ便
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng 大型メルカリ便
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng 車体取引ガイド
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng メルカリあんしん・あんぜん宣言！
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng 偽ブランド品撲滅への取り組み
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng メルカリボックス
    .main-top__footer__guide__cell-2
      %h2 プライバシーと利用契約
      .main-top__footer__guide__cell-2__box
        .main-top__footer__guide__cell-2__box__cell
          %ul.about
            %li.list
              = link_to "http://google.co.jp", class: "link" do
                %storng プライバシーポリシー
            %li.list
              = link_to "http://google.co.jp", class: "link" do
                %storng メルカリ利用規約
            %li.list
              = link_to "http://google.co.jp", class: "link" do
                %storng あんしんスマホサポート制度に関する利用特約
            %li.list
              = link_to "http://google.co.jp", class: "link" do
                %storng コンプライアンスポリシー
        .main-top__footer__guide__cell-2__box__cell
          %ul.about
            %li.list
              = link_to "http://google.co.jp", class: "link" do
                %storng 個人データの安全管理に係る基本方針
            %li.list
              = link_to "http://google.co.jp", class: "link" do
                %storng 特定商取引に関する表記
            %li.list
              = link_to "http://google.co.jp", class: "link" do
                %storng 資金決済法に基づく表示
            %li.list
              = link_to "http://google.co.jp", class: "link" do
                %storng 法令順守と犯罪抑止のために
    .main-top__footer__guide__cell
      %h2 国
      %ul.about
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng 日本
        %li.list
          = link_to "http://google.co.jp", class: "link" do
            %storng United States
  .main-top__footer__end
    = link_to "http://google.co.jp", class: "link" do
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
    %span ©︎ 2019 Mercari