.main-top__header
  .main-top__header__box
    .main-top__header__box__form
      .main-top__header__box__form__logo
        %span.image
          = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
      = form_tag('/', class: 'search-form') do
        %input.search-form__input{name: "keyword", placeholder: "何をお探しですか？", type: "text", value: ""}
        %button.btn-search{title: "検索", type: "submit"}
          = fa_icon "search", class: "search-form__icon"
    .main-top__header__box__menu
      .main-top__header__box__menu__search
        .main-top__header__box__menu__search__category
          = fa_icon "list-ul", class: "list__icon"
          = link_to 'カテゴリーから探す', 'http://google.co.jp', class: 'link'
          = render 'categories/window'
        .main-top__header__box__menu__search__brand
          = fa_icon "tags", class: "tags__icon"
          = link_to 'ブランドから探す', 'http://google.co.jp', class: 'link'
          = render 'brands/window'
      .main-top__header__box__menu__login
        .main-top__header__box__menu__login__new
          = link_to '新規会員登録', register_signup_index_path, class: 'login-new'
        .main-top__header__box__menu__login__in
          = link_to 'ログイン', login_signup_index_path, class: 'login-in'