#main-top
  .main-top
    = render 'shared/header'
    .main-top__contents
      .main-top__contents__center
        .main-top__contents__center__screen
          = render "slide"
        .main-top__contents__center__pop-category
          %h2 人気のカテゴリー
          .main-top__contents__center__pop-category__list
            %ul.list
              %li.ladies
                レディース
              %li.mens
                メンズ
              %li.appliances
                家電・スマホ・カメラ
              %li.toys
                おもちゃ・ホビー・グッズ
        .main-top__contents__center__items
          .main-top__contents__center__items__ladies
            .main-top__contents__center__items__ladies__title
              %h3 レディース新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__ladies__list
              - @ladies_items.each do |ladies_item|
                = render partial: "item", locals: {item: ladies_item}
          .main-top__contents__center__items__mens
            .main-top__contents__center__items__mens__title
              %h3 メンズ新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__mens__list
              - @mens_items.each do |mens_item|
                = render partial: "item", locals: {item: mens_item}
          .main-top__contents__center__items__appliances
            .main-top__contents__center__items__appliances__title
              %h3 家電・スマホ・カメラ新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__appliances__list
              - @electrical_appliances.each do |electrical_appliance|
                = render partial: "item", locals: {item: electrical_appliance}
          .main-top__contents__center__items__toys
            .main-top__contents__center__items__toys__title
              %h3 おもちゃ・ホビー・グッズ新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__toys__list
              - @toys.each do |toy|
                = render partial: "item", locals: {item: toy}
        .main-top__contents__center__pop-category
          %h2 人気のブランド
          .main-top__contents__center__pop-category__list
            %ul.list
              %li.ladies
                シャネル
              %li.mens
                ルイヴィトン
              %li.appliances
                シュプリーム
              %li.toys
                ナイキ
        .main-top__contents__center__items
          .main-top__contents__center__items__ladies
            .main-top__contents__center__items__ladies__title
              %h3 シャネル新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__ladies__list
              - @chanel.each do |chanel|
                = render partial: "item", locals: {item: chanel}
          .main-top__contents__center__items__mens
            .main-top__contents__center__items__mens__title
              %h3 ルイヴィトン新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__mens__list
              - @louis_vuitton.each do |louis_vuitton|
                = render partial: "item", locals: {item: louis_vuitton}
          .main-top__contents__center__items__appliances
            .main-top__contents__center__items__appliances__title
              %h3 シュプリーム新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__appliances__list
              - @supreme.each do |supreme|
                = render partial: "item", locals: {item: supreme}
          .main-top__contents__center__items__toys
            .main-top__contents__center__items__toys__title
              %h3 ナイキ新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__toys__list
              - @nike.each do |nike|
                = render partial: "item", locals: {item: nike}
    .main-top__exhibit
      = link_to "http://google.co.jp", class: "main-top__exhibit__link" do
        .main-top__exhibit__link__circle
          .main-top__exhibit__link__circle__title 出品
          = fa_icon "camera", class: "camera__icon"
    = render partial: "shared/footer"
    