#main-top
  .main-top
    -if user_signed_in?  
      =render partial: "shared/header-after-login"
    -else
      =render partial: "shared/header"
    =render 'shared/breadcrumbs'
    .main-top__contents
      .main-top__contents__center
        .main-top__contents__center__screen
          = render "slide"
        .main-top__contents__center__pop-category
          %h2 人気のカテゴリー
          .main-top__contents__center__pop-category__list
            %ul.list
              %li.ladies
                = link_to "レディース", "#root_index-1"
              %li.mens
                = link_to "メンズ", "#root_index-2"
              %li.appliances
                = link_to "家電・スマホ・カメラ", "#root_index-3"
              %li.toys
                = link_to "おもちゃ・ホビー・グッズ", "#root_index-4"
        .main-top__contents__center__items
          .main-top__contents__center__items__ladies
            .main-top__contents__center__items__ladies__title
              %div{id: "root_index-1"}
                %h3 レディース新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__ladies__list
              = render partial: "item", collection: @ladies_items, as: "item"
          .main-top__contents__center__items__mens
            .main-top__contents__center__items__mens__title
              %div{id: "root_index-2"}
                %h3 メンズ新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__mens__list
              = render partial: "item", collection: @mens_items, as: "item"
          .main-top__contents__center__items__appliances
            .main-top__contents__center__items__appliances__title
              %div{id: "root_index-3"}
                %h3 家電・スマホ・カメラ新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__appliances__list
              = render partial: "item", collection: @electrical_appliances, as: "item"
          .main-top__contents__center__items__toys
            .main-top__contents__center__items__toys__title
              %div{id: "root_index-4"}
                %h3 おもちゃ・ホビー・グッズ新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__toys__list
              = render partial: "item", collection: @toys, as: "item"
        .main-top__contents__center__pop-category
          %h2 人気のブランド
          .main-top__contents__center__pop-category__list
            %ul.list
              %li.ladies
                = link_to "シャネル", "#root_index-5"
              %li.mens
                = link_to "ルイヴィトン", "#root_index-6"
              %li.appliances
                = link_to "シュプリーム", "#root_index-7"
              %li.toys
                = link_to "ナイキ", "#root_index-8"
        .main-top__contents__center__items
          .main-top__contents__center__items__ladies
            .main-top__contents__center__items__ladies__title
              %div{id: "root_index-5"}
                %h3 シャネル新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__ladies__list
              = render partial: "item", collection: @chanel, as: "item"
          .main-top__contents__center__items__mens
            .main-top__contents__center__items__mens__title
              %div{id: "root_index-6"}
                %h3 ルイヴィトン新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__mens__list
              = render partial: "item", collection: @louis_vuitton, as: "item"
          .main-top__contents__center__items__appliances
            .main-top__contents__center__items__appliances__title
              %div{id: "root_index-7"}
                %h3 シュプリーム新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__appliances__list
              = render partial: "item", collection: @supreme, as: "item"
          .main-top__contents__center__items__toys
            .main-top__contents__center__items__toys__title
              %div{id: "root_index-8"}
                %h3 ナイキ新着アイテム
              = link_to "http://google.co.jp", class: "link" do
                %storng もっと見る
                %i.far.fa-angle-rigth
            %ul.main-top__contents__center__items__toys__list
              = render partial: "item", collection: @nike, as: "item"
    = render partial: "shared/exhibit"
    = render partial: "shared/footer"
    