#main-top
  .main-top
    -if user_signed_in?  
      =render partial: "shared/header-after-login"
    -else
      =render partial: "shared/header"
    .main-top__contents
      .main-top__contents__center
        .main-top__contents__center__screen
          = render "slide"
        .main-top__contents__center__pop-category
          %h2 人気のカテゴリー
          .main-top__contents__center__pop-category__list
            %ul.list
              %li.ladies
                レディース
              %li.mens
                メンズ
              %li.appliances
                家電・スマホ・カメラ
              %li.toys
                おもちゃ・ホビー・グッズ
        .main-top__contents__center__items
          .main-top__contents__center__items__ladies
            .main-top__contents__center__items__ladies__title
              %h3 レディース新着アイテム
              = render "right-icon"
            %ul.main-top__contents__center__items__ladies__list
              - @items.each do |item|
                %li.main-top__contents__center__items__ladies__list__item
                  = render partial: 'item', item: item 
          .main-top__contents__center__items__mens
            .main-top__contents__center__items__mens__title
              %h3 メンズ新着アイテム
              = render "right-icon"
            %ul.main-top__contents__center__items__mens__list
              - @items.each do |item|
                %li.main-top__contents__center__items__mens__list__item
                  = render partial: 'item', item: item
          .main-top__contents__center__items__appliances
            .main-top__contents__center__items__appliances__title
              %h3 家電・スマホ・カメラ新着アイテム
              = render "right-icon"
            %ul.main-top__contents__center__items__appliances__list
              - @items.each do |item|
                %li.main-top__contents__center__items__appliances__list__item
                  = render partial: 'item', item: item 
          .main-top__contents__center__items__toys
            .main-top__contents__center__items__toys__title
              %h3 おもちゃ・ホビー・グッズ新着アイテム
              = render "right-icon"
            %ul.main-top__contents__center__items__toys__list
              - @items.each do |item|
                %li.main-top__contents__center__items__toys__list__item
                  = render partial: 'item', item: item
        .main-top__contents__center__pop-category
          %h2 人気のブランド
          .main-top__contents__center__pop-category__list
            %ul.list
              %li.ladies
                シャネル
              %li.mens
                ルイヴィトン
              %li.appliances
                シュプリーム
              %li.toys
                ナイキ
        .main-top__contents__center__items
          .main-top__contents__center__items__ladies
            .main-top__contents__center__items__ladies__title
              %h3 シャネル新着アイテム
              = render "right-icon"
            %ul.main-top__contents__center__items__ladies__list
              - @items.each do |item|
                %li.main-top__contents__center__items__ladies__list__item
                  = render partial: 'item', item: item
          .main-top__contents__center__items__mens
            .main-top__contents__center__items__mens__title
              %h3 ルイヴィトン新着アイテム
              = render "right-icon"
            %ul.main-top__contents__center__items__mens__list
              - @items.each do |item|
                %li.main-top__contents__center__items__mens__list__item
                  = render partial: 'item', item: item
          .main-top__contents__center__items__appliances
            .main-top__contents__center__items__appliances__title
              %h3 シュプリーム新着アイテム
              = render "right-icon"
            %ul.main-top__contents__center__items__appliances__list
              - @items.each do |item|
                %li.main-top__contents__center__items__appliances__list__item
                  = render partial: 'item', item: item
          .main-top__contents__center__items__toys
            .main-top__contents__center__items__toys__title
              %h3 ナイキ新着アイテム
              = render "right-icon"
            %ul.main-top__contents__center__items__toys__list
              - @items.each do |item|
                %li.main-top__contents__center__items__toys__list__item
                  = render partial: 'item', item: item
    = render partial: "shared/exhibit"
    = render partial: "shared/footer"
    