.item-wrapper
  =render partial: "shared/header-after-login"
  .item
    %h1.item__name
      = @item.name
    .item__content.clearfix
      .item__photo
        =image_tag @image.image_url, size: "300x300", alt: "メイン画像", class: "mainImage"
        .item__photo--others
          - @images.each do |image|
            = image_tag "#{image.image_url}", size: "60x60", alt: "サムネイル", class: "thumb"

      %table{ class: "item__detail-table", border: "1"}
        %tr
          %th 
            出品者
            %td
              =link_to @item.user.nickname, "/users/#{@item.user.id}"
        %tr
          %th 
            カテゴリー
            %td
              = link_to @item.category.root.name, "/categories/#{@item.category.root.id}"
              %br
              = fa_icon 'chevron-right', class: 'icon-arrow'
              =link_to  @item.category.parent.name, "/categories/#{@item.category.parent.id}"
              %br
              = fa_icon 'chevron-right', class: 'icon-arrow'
              =link_to @item.category.name, "/categories/#{@item.category.id}"
        %tr
          %th 
            ブランド
            %td
              =link_to @item.brand.name, "/brands/#{@item.brand.id}"
        %tr
          %th 
            商品の状態
            %td
              =@item.condition
        %tr
          %th 
            配送料の負担
            %td
              =@item.postage
        %tr
          %th 
            配送の方法
            %td
              =@item.shipping_method
        %tr
          %th 
            配送元地域
            %td
              =link_to @item.departure_area, ""
        %tr
          %th 
            発送日の目安
            %td
              =@item.lead_time

    .item__price-box
      %span.item__price
        ="¥#{@item.price}" 
      %span.item__tax
        (税込)
      %span.item__shipping-fee
        送料込み
    .item-description 
      %p.item-description__inner
      =@item.description
  .item__change-box
    =link_to "商品の編集", 'http://google.co.jp', class: 'btn-default btn-red'
    %p 
      or
    =link_to "商品の出品を再開する", 'http://google.co.jp', class: 'btn-default btn-red'
    =link_to "この商品を削除する", "#0", class: 'modalbttn'
  .item-detail-message
    .message-container
      .message-content
        %p 
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。 
        %textarea{type: "text", name: "body", class: "textarea-default"}
        %button{type: "submit", class: "btn-default message-submit--btn-gray"}
          %span
            コメントする
  =render partial: "shared/footer"
= render 'delete-modal'
