<!DOCTYPE html>
%html
  %head
  %body
    -if user_signed_in?  
      =render partial: "shared/header-after-login"
    -else
      =render partial: "shared/header"
    =render 'shared/breadcrumbs'
    .brand
      .brand-contents
        .brand-contents__title
          %h2 ブランド一覧
        .brand-contents__list
          - @persons.each do |person|
            = link_to brand_path(person), id: "#{person.id}", class: "brand-contents__list__box__#{person.id}" do
              = image_tag ("#{person.imege}"), height: '40', width: '40'
              %h2 #{person.name} 
    = render partial: "shared/exhibit" 
    = render partial: "shared/footer"