%html
  %head
  %body
    -if user_signed_in?  
      =render partial: "shared/header-after-login"
    -else
      =render partial: "shared/header"
    =render 'shared/breadcrumbs'
    .category__index
      .category__index__box
        .category__index__box__list
        .category__index__box__container
          %h2.category__index__box__container__title
            #{@brand.name}の商品一覧
          .main-top__contents__center__items__ladies__list
            = render partial: "items/item", collection: @items, as: "item"
          .category__index__box__container__page
            = paginate(@items)
          .category__index__box__container__description
            .category__index__box__container__description__title
              %h3 #{@brand.name}
            .category__index__box__container__description__text
              %p  #{@brand.description}
    = render partial: "shared/exhibit"
    = render partial: "shared/footer"