!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}/
    %title FreemarketSample55b
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  %body
    = yield
